packaging
sentencepiece
peft==0.4.0
einops==0.4.1
markdown2==2.4.10
numpy<2.0.0
opencv-python
Pillow
pycocotools==2.0.6
shortuuid==1.0.11
tqdm
scipy
bitsandbytes>=0.46.1
torchviz
tensorboard
datasets
pandas